<!--<form class="navbar-form navbar-right" #form1="ngForm" (ngSubmit)="check(form1)">
            <div class="form-group">
              <input type="text" name="username" [(ngModel)]="user" #username="ngModel" placeholder="Enter your Username" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" name="password" [(ngModel)]="pass" #password="ngModel" placeholder="Enter your Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
</form>-->



<app-header></app-header>
 <div class="jumbotron">
      <div class="container">
       <h1 class="text-center">Search For Favorite Comics here!</h1>
       <input type="text" #searchcomic placeholder="Search Comics" class="form-control">
       <button type="submit" (click)="searching(searchcomic.value)" class="btn btn-success">Search</button>
      </div>
</div>