   <!-- Main jumbotron for a primary marketing message or call to action -->
<app-header></app-header>
<div class="jumbotron">
      <div class="container">
        <h1 class="text-center">Hello,</h1>
        <p class="text-center">Welcome to Online Comic Search!</p>
        <!--<p class="text-center"><a class="btn btn-primary btn-lg" href="#" role="button">Login</a></p>-->
      </div>
</div>
  <!--<nav class="navbar navbar-inverse navbar-fixed-top">
    <div id="navbar" class="navbar-collapse collapse">
          <app-login></app-login>
        </div>
  </nav>      -->