<div class="jumbotron">
      <div class="container">
        <h1 class="text-center">Welcome</h1>
        <p class="text-center">Super User! Please Select your Action</p>
        <!--<p class="text-center"><a class="btn btn-primary btn-lg" href="#" role="button">Login</a></p>-->
      </div>
</div>


<div>
    <h2>You want to {{action}}</h2>
    <label>Action</label>
    <select [(ngModel)]="action" name="Select action" class="ui fluid search selection dropdown"> 
    <option *ngFor="let n of actions" [attr.value]="n">{{n}}</option>
    </select>
</div>
<div>
    <h2>You want to {{type}}</h2>
    <label>Type</label>
    <select [(ngModel)]="type" name="Select type" class="ui fluid search selection dropdown"> 
    <option *ngFor="let n of types" [attr.value]="n">{{n}}</option>
    </select>
</div>
<!--<div>
    <h2>You want to {{type}}</h2>
    <label>Type</label>
    <select [(ngModel)]="type" name="Select type" class="ui fluid search selection dropdown"> 
    <option *ngFor="let m of types" [attr.value]="m">{{m}}</option>
    </select>
</div>-->
<button type="submit" class="btn btn-success" (click)="check(action,type)">Proceed!</button>


